<h1>Welcome to {{hotelName}}</h1>

<div [hidden]="hideRooms">
  <div [ngStyle]="{color: 'green'}" [innerText]="numberOfRooms"></div>
</div>

{{rooms?.availableRooms ?? "No Rooms Available"}}

<div *ngIf="selectedRoom">
  {{selectedRoom | json}}
</div>

<div>
  <button (click)="addRoom()">Add Room</button>
</div>

<div *ngIf="rooms.availableRooms > 0">
  <app-rooms-list [rooms]="roomList" [title]="title" (selectedRoom)="selectRoom($event)"></app-rooms-list>
</div>

<button (click)="toggleRooms()">Toggle</button>
